.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu li {
  list-style: none;
  position: relative; /* Needed for submenu positioning */
}

.menu a {
  color: #56DCBD; /* Change link color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Add padding for better click area */
}

.menu a:hover {
  text-decoration: none; /* Ensure no underline on hover */
  background-color: rgba(10, 7, 49, 0.1); /* Optional: add a hover effect */
}

.menu .submenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000; /* Make sure it appears above other content */
}

.menu li:hover .submenu {
  display: block; /* Show submenu on hover */
}

.audio-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 20px;
}

.audio-button img {
  width: 30px;
  height: 30px;
}

.return-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  margin-left: auto; /* Pushes the button to the right */
}

.return-button:hover {
  text-decoration: none; /* Remove underline on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
      flex-direction: column;
      align-items: flex-start;
  }

  .audio-button {
      margin-left: 0; /* Align button below text on smaller screens */
  }

  .exoplanetas {
      width: 100%; /* Ensure image scales down on smaller screens */
      height: auto;
  }
}

@media (min-width: 769px) {
  .menu {
      flex-direction: row;
  }

  .exoplanetas {
      width: 100%;
      height: auto;
  }
}
